# ARITHMETIC OPERATORS
3 + 17

In [2]:
3.9 + 3.8

7.699999999999999

In [3]:
4 + 8.9

12.9

In [4]:
"AB" + "C"

'ABC'

In [5]:
["Ali","Asfand"] + ["Burhan","Arham"]

['Ali', 'Asfand', 'Burhan', 'Arham']

In [6]:
("Ali","Asfand") + ("Burhan","Arham")

('Ali', 'Asfand', 'Burhan', 'Arham')

In [7]:
45 - 32

13

In [8]:
3.9 - 3.0

0.8999999999999999

In [9]:
{2,3,8,7} - {9,2}

{3, 7, 8}

In [10]:
{"A","B","C"} - {"B"}

{'A', 'C'}

In [11]:
[4,5]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [12]:
3 * 34

102

In [13]:
2.9 * 9.0

26.099999999999998

In [14]:
"Asfand " * 3

'Asfand Asfand Asfand '

In [15]:
33 / 4

8.25

In [16]:
23 / 7

3.2857142857142856

In [17]:
11 // 3

3

In [18]:
22 % 3

1

In [19]:
2 ** 3 
# this is a comment
# 2 X 2 X 2 = 8

8

In [20]:
# RELATIONAL / COMPARISON OPERATORS
2 == 2

True

In [21]:
'A' == 'a'

False

In [22]:
5 > 3

True

In [23]:
5 > 5

False

In [24]:
5 >= 5 # 5 > 4

True

In [25]:
"A" > "B"

False

In [26]:
ord("a")

97

In [27]:
chr(65)

'A'

In [28]:
"asfand" != "Asfand"

True

In [29]:
2 != 4

True

In [30]:
# ASSIGNMENT OPERATORS
a = 39
print (a)

39

In [31]:
a = 3
a = 4
a = 5
print (a)

5

In [32]:
a = 1  # 1
a += 2 # 1 + 2 = 3
a += 3 # 3 + 3 = 6
a += 4 # 6 + 4 = 10
print(a)

10

In [33]:
a = 1      #  1
a = a + 2  #  1 + 2 = 3
a = a + 3  #  3 + 3 = 6
a = a + 4  #  6 + 4 = 10
print(a)

10

In [34]:
a = 100
a -= 5
a -= 5
a -= 10
print(a)

80

In [35]:
a = 1
a *= 2 # 1 * 2
a *= 3 # 2 * 3 = 6
print(a)

6

In [36]:
a = 34
a /= 2   # 34 / 2 = 17.0
a /= 2   # 17 / 2  = 8.5
print(a)

8.5

In [37]:
a = 200
a //= 2 # 200 // 2 = 100
a //= 2 # 100 // 2 = 50
print(a)

50

In [38]:
a = 21
a %= 5      # 21 mod 5 = 1
print(a)

1

In [39]:
a = 2
a **= 2   # 2 ** 2 = 4
a **= 3   # 4 ** 3 = 64
print(a)

64

In [40]:

a = "Asfand"
a += "Yar"
print(a)

AsfandYar

In [41]:
a = [1,2,3]
a +=[5,6]
print(a)

[1, 2, 3, 5, 6]

In [42]:
# LOGICAL OPERATORS
True and True and True

True

In [43]:
True & True & True

True

In [44]:
True and False and True

False

In [45]:
user = input("UserName:")
password = input("Password")

user == "Admin" and password == "123"
#"AsfandYar" == "AsfandYar" and "1234" == "1234"
#       True         and       True
#                   True

UserName:Admin
Password123

True

In [46]:
user = input("UserName:")
password = input("Password")

(user == "Asfand") & (password == "123")
#"Asfand" == "Asfand" and "123" == "123"
#       True         and       True
#                   True

UserName:Asfand
Password123

True

In [47]:

user = input("UserName:")
password = input("Password")

user == "Asfand" and password == "123"
#"Asfand" == "Asfand" and "1234" == "123"
#       False        and       True
#                   False

UserName:Asfand
Password1234

False

In [48]:
True or True or False or False or True

True

In [49]:
False | False | False | False | False

False

In [50]:
user = "Asfand" # Qasim,Ali, Hamza
password = "123" # 123


(user == "Asfand" or \
 user== "Ali" or \
 user == "Hamza") and password=="123"

True

In [51]:
user = "a"
password = "123"

not (user=="Ali" and password=="123")

True

In [52]:
not(True)

False

In [54]:
not(False)

True

In [58]:
# BITWISE OPERATION
23 & 34

2

In [59]:
34 & 23

2

In [60]:
23 | 34

55

In [61]:
28 ^ 30

2

In [63]:
~39

-40

In [64]:
# MEMBERSHIP OPERATORS
names = ["Ali","Hamza","Junaid","Asfand"]
i = 0
while i < len(names):
    if names[i]=="Asfand":
        print(True)
        break
    i +=1

True

In [65]:
names = ["Ali","Hamza","Junaid","Asfand"]
"Asfand" in names

True

In [66]:
user = input("Text")
'pakistan' in user

Textpakistan

True

In [67]:
'Asfand' not in user

True

In [68]:
user = input()
user = user.split()
user

'Arham'

["'Arham'"]

In [69]:
# IDENTITY OPERATORS
a = '5'
b = 5
c = a

print(a is b)
print(a is c)

False
True

In [70]:
print(id(a))
print(id(b))
print(id(c))

2660797934704
1998941376
2660797934704

In [71]:
id(a) == id(c)

True

In [72]:
# CONTROL FLOW
if True:
    print("Pakistan")
else:
    print("Zinda bad")

Pakistan

In [73]:
if False:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zinda bad")

Zinda bad

In [74]:
user = input("User")
password = input("Pass")

if (user=="Ali" or user=="Asfand") and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserAsfand
Pass123
Valid User!

In [75]:
user = input("User")
password = input("Pass")

if () and password=="123":
    print("Valid User!")
else:
    print("Invalid User")

UserAli
Pass123
Invalid User